<h1>Over Filmlijst</h1>

<p>
  Ik heb deze webapplicatie gemaakt zodat Orla en ik makkelijk altijd en overal onze lijst met films kunnen bijwerken.
</p>

<h2>Films toevoegen</h2>

<p>
  Een film toevoegen kan ofwel volledig manueel ofwel met behulp van IMDb.
</p>

<p>
  Om een film manueel toe te voegen, ga je naar de hoofdpagina en klik je op de knop "Nieuwe film toevoegen".
  Je vult dan gewoon alle velden in en drukt op "Opslaan". De film komt dan in de lijst te staan.
</p>

<p>
  Om een film toe te voegen via IMDb, typ je de naam rechtsboven in het zoekveld in en klik je op "Zoeken".
  Afhankelijk van hoeveel resultaten er zijn, kan deze zoekopdracht relatief traag zijn, dus een beetje geduld is wel
  een goeie zaak. Als alles normaal verloopt, krijg je dan een lijst met titels en samenvattingen van gevonden films en
  series. Gewoon klikken op de film die je wil, is voldoende om die toe te voegen aan de lijst. Let wel op dat de
  informatie van IMDb soms onbetrouwbaar of onvolledig kan zijn, dus kijk de details zeker na. In het bijzonder
  ontbreken er vaak trailers of posters...
</p>

<h2>Films bewerken</h2>

<p>
  Eens een film is toegevoegd aan de lijst, kan je de gegevens ervan bewerken. Belangrijk zijn vooral de rating en
  of we de film al gezien hebben of niet. De applicatie gaat uit van een ratingsysteem van 0 tot 5 Jodensterren.
  (Ratings op IMDb gaan van 1 tot 10 en worden automatisch omgezet naar het Jodensysteem bij het importeren.)
</p>