<div class="jumbotron">
  <h1 class="display-3">Filmlijst</h1>
  <p class="lead">
    Een webapplicatie om bij te houden welke films we al hebben gezien en nog zouden moeten zien.
  </p>
  <hr class="my-4">
  <p>Gemaakt met &#10084; door Jonathan voor Orla.</p>
</div>

<div class="btn-group">
  <%= link_to 'Nieuwe film toevoegen', new_film_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <%= render "films/list" %>
</div>